<template>
<q-page style="background-color:#f5f5f5;">
    <q-page-container>
        <div
            class="fixed-full row justify-evenly items-center">
            
            <q-card
                class="col-11 col-sm-7 co-lg-4">
                <q-toolbar
                    class="q-gutter-ym bg-purple">
                    <q-tabs 
                        v-model="tab"
                        style="color:#e0e0e0;"
                        active-color="white"
                        indicator-color="white"
                        mobile-arrows
                        narrow-indicator>
                        <q-tab 
                            name="exercise-1"
                            label="Exercise 1" 
                        />
                        <q-tab 
                            name="exercise-2" 
                            label="Exercise 2" 
                        />
                        <q-tab 
                            name="exercise-3" 
                            label="Exercise 3" 
                        />
                    </q-tabs>
                </q-toolbar>

                <q-tab-panels  v-model="tab" animated>
                    <q-tab-panel style="height: 50em;" name="exercise-1">
                        <Spiral />
                    </q-tab-panel>

                    <q-tab-panel style="height: 50em;" name="exercise-2">
                        <Primes />
                    </q-tab-panel>

                    <q-tab-panel style="height: 50em;" name="exercise-3">
                        <Circles />
                    </q-tab-panel>
                </q-tab-panels>
            </q-card>
        </div>
        
    </q-page-container>
</q-page>
</template>

<script>
import { defineComponent, ref } from 'vue';
import Spiral from '../components/Spiral.vue';
import Primes from '../components/Primes.vue';
import Circles from '../components/Circles.vue'

export default defineComponent({
    components: {
        Spiral,
        Primes,
        Circles
    },
    setup() {
        const tab = ref('exercise-1');

        return {
            tab,
        }
    },
})
</script>
