<template>
  <q-page 
    class="row items-center justify-evenly"
    style='background-color: #5A82D9;'>
    <div class="q-pa-md col-12 col-sm-7 col-lg-4">
      <q-card
        style='background-color: #E2DFF0; box-shadow: 0px 0px 45px 0 rgba(14, 3, 65, 0.288);'
        class="my-card">
        <q-img 
          src="~/assets/login.png"
          :ratio="16/9"
          height="22em"
          />

      <q-card-section
        class="text-center">
        <div
          style="text-transform: uppercase;"
          class="text-h4 text-bold q-mt-sm">
          Sign in
        </div>
      </q-card-section>

      <q-card-section 
        class="q-pt-none">
        <q-form
          @submit='onSubmit'
          class="q-pa-md">
          <span
            class="q-pa-none q-ml-none custom-label">
            Email
          </span>
           <q-input
              color="#5A82D9"
              outlined
              v-model="email"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'This field is required.']"
              class="q-pb-sm custom-input q-mb-lg"
              placeholder="user@mail.com" />
          <span
            class="q-pa-none q-ml-none custom-label">
            Password
          </span>
          <q-input
            color="#5A82D9"
            outlined
            lazy-rules
            v-model="password"
            placeholder="Your password here"
            :rules="[ val => val && val.length > 0 || 'This field is required.']"
            class="q-pb-sm q-mt-none custom-input"
            :type="getType">

            <template v-slot:append>
              <q-icon
                :name="getIcon"
                class="cursor-pointer"
                @click="changeVisibility">
              </q-icon>
            </template>
          </q-input>

            <q-btn
              color="purple"
              type="submit"
              :loading='loading'
              class="full-width q-py-md q-mb-sm q-mt-lg">
              Sign in
            </q-btn>

        </q-form>
      </q-card-section>
    </q-card>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref, computed} from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { useQuasar } from 'quasar';
import _ from 'lodash';


export default defineComponent({
  name: 'PageIndex',
  setup() {
    const $q = useQuasar()
    const isPwd = ref(true)
    const $router = useRouter()
    const $store = useStore()
    const email = ref('')
    const password = ref('')
    const loading = ref(false)

    const getIcon = computed( () => {
      return isPwd.value ? 'visibility_off' : 'visibility'
    })

    const getType = computed( () => {
      return isPwd.value ? 'password' : 'text'
    })

   function changeVisibility() {
      isPwd.value = !isPwd.value
    }
  
    function onSubmit() {
      loading.value = true
      $store.dispatch('auth/login', { email: email.value, password: password.value })
      .then(async res => {
        loading.value = false
        console.log('>>>reeees', res.response);
        if(res.response) {
          let errors = []
          if (res.response.data.errors) {
            errors = res.response.data.errors.map((obj) => {
             return Object.values(obj.constraints);
           })
          } else {
            errors = [res.response.data.message]
          }
          const flattenErrors = _.flattenDeep(errors)
          for (let i= 0; i < flattenErrors.length; i++) {
            $q.notify({
                color: 'negative',
                position: 'top',
                message: `${flattenErrors[i]}`,
                icon: 'report_problem',
                
                timeout:3000,
                actions: [
                  { label: 'Cerrar', color: 'white', handler: () => {} }
                ]
            })
          }
        } else {
          await $router.push('/exercises')
        }
      })
      .catch(error => {
        loading.value = false
        console.log(error)
        
      })
    }

    return { isPwd, onSubmit, email, password, loading, getIcon, getType, changeVisibility };
  }
});
</script>