<template>
    <div class="text-h6">
        Circles
    </div>
    <p
        class="q-py-none">
        Write a function named findCircleCollisions that takes an array of circles
        as parameter and computes a new array with the circles that are colliding. A
        collision is defined by a positive intersection area between two circles.
    </p>

    <div
        class="q-pt-none q-pb-md">
        <h6
            class="q-pa-none q-ma-none">
            Start adding circles: 
        </h6>

        <div
            class="row q-pa-none q-ma-none">
            <div
                class="q-pa-none q-ma-none col-12 col-sm-6">
                <q-input
                    color="purple"
                    lazy-rules
                    :rules="[ 
                        val => val && val.length > 0 || 'This field is required.',
                    ]"
                    v-model="name"
                    ref='nref'
                    label="Circle name"
                    class="q-pb-md custom-input q-ma-none"
                    placeholder="Circle 1" />
                <q-input
                    color="purple"
                    lazy-rules
                    ref="xref"
                    :rules="[ 
                        val => val && val.length > 0 || 'This field is required.',
                    ]"
                    v-model="x"
                    label="Circle center (in the X axis)"
                    class="q-pb-md custom-input q-ma-none" />
                <q-input
                    color="purple"
                    lazy-rules
                    ref="yref"
                    :rules="[ 
                        val => val && val.length > 0 || 'This field is required.',
                    ]"
                    v-model="y"
                    label="Circle center (in the Y axis)"
                    class="q-pb-md custom-input q-ma-none" />
                <q-input
                    color="purple"
                    lazy-rules
                    ref="rref"
                    :rules="[ 
                        val => val && val.length > 0 || 'This field is required.',
                    ]"
                    v-model="radius"
                    label="Circle radius"
                    class="q-pb-md custom-input q-ma-none" />
                    
                <q-btn
                    @click="add"
                    flat
                    color="white"
                    class="full-width q-py-sm q-my-md bg-purple">
                    Add circle
                </q-btn>
            </div>
            <div
                class="q-pt-sm q-px-none col-12 col-sm-6">
                <q-table
                    hide-pagination
                    flat
                    :rows='circles'
                    :no-data-label="'You have not added a circle yet!'"
                    row-key="name"
                    class="q-mx-md"
                    :columns="[
                        { name: 'name', label: 'Name', field: 'name', sortable: false, align: 'left' },
                        { name: 'x', label: 'X', field: 'x', sortable: false, align: 'left' },
                        { name: 'y', label: 'Y', field: 'y', sortable: false, align: 'left' },
                        { name: 'radius', label: 'Radius', field: 'radius', sortable: false, align: 'left' },
                    ]">
                </q-table>
            </div>
        </div>

        <q-btn
            color="purple"
            @click="calculate"
            :loading='loading'
            class="full-width q-py-md q-mb-sm q-mt-lg">
            Calculate intersections
        </q-btn>

        <q-card
            flat
            class="full-width q-mt-sm"
            v-if="output">
            <q-card-section
                class="mt-4 mb-4 black--text text-h6"
                v-if="output.length > 0">
                Circulos que colisionan:
                <p
                    class="mt-2 mb-1"
                    v-for="(item, index) in output"
                    :key="index">
                    • {{ item.name }} colisiona con: {{ item.intercepted.length > 0 ? item.intercepted : '0' }}
                </p>
            </q-card-section>
        </q-card>
    </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { api } from 'boot/axios'

export default defineComponent({
    name: 'Primes',
    setup() {
        const circles = ref([])
        const name = ref('')
        const radius = ref('')
        const x = ref('')
        const y = ref('')
        const nref = ref(null)
        const xref = ref(null)
        const yref = ref(null)
        const rref = ref(null)
        const output = ref([])
        const loading = ref(false)

        function add() {
            circles.value.push({
                name: name.value,
                x: x.value,
                y: y.value,
                radius: radius.value
            })
            name.value = ''
            radius.value = ''
            x.value = ''
            y.value = ''

            nref.value.resetValidation()
            xref.value.resetValidation()
            yref.value.resetValidation()
            rref.value.resetValidation()
        }

        function calculate() {
            loading.value = true
            api.post('/api/exercises/circles', {
                circles: circles.value.map((e) => {
                   return {
                       name: e.name,
                       x: parseInt(e.x),
                       y: parseInt(e.y),
                       radius: parseInt(e.radius)
                   }
                })
            }) 
            .then((res) => {
                loading.value = false
                output.value = res.data.data.result
                circles.value = []
            })
            .catch((err) => {
                loading.value = false
                console.log(err)
            })
        }

        return {
            circles,
            name,
            x,
            y,
            radius,
            add,
            nref,
            xref,
            yref,
            rref,
            calculate,
            loading,
            output
        }
    },
})
</script>
