<template>
    <div class="text-h6">
        Primes
    </div>
    <p>
        Write a function named printNPrimes, that takes an int representing the
        amount of prime numbers to print. 
    </p>

    <div
        class="q-py-md">
        <span
            class="q-pa-none q-ml-none custom-label2">
            Introduce the amount of prime numbers you will like to print.
        </span>
        <q-input
            color="purple"
            mask="####"
            lazy-rules
            :rules="[ 
                val => val && val.length > 0 || 'This field is required.',
            ]"
            v-model.number="qty"
            class="q-pb-sm custom-input q-mb-md"
            placeholder="10" />

        <q-btn
            color="purple"
            @click="calculate"
            class="full-width q-py-md q-mb-sm q-mt-lg">
            Print numbers
        </q-btn>
    </div>

    <q-card
        flat
        v-if='primes.length > 0'>
        <q-card-section
            class="text-subtitle1 text-purple text-bold q-pb-none p-mb-none">
            Prime numbers found:
        </q-card-section>
        <q-card-section
            class="q-mt-none ">
            {{ primes }}
        </q-card-section>
    </q-card>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
    name: 'Primes',
    setup() {

        const qty = ref('')
        const primes = ref([])

        function printNPrimes() {
            let i = 1;
            while (primes.value.length < parseInt(qty.value)) {
                let isPrime = true;
                i++
 
                for (let j = 2; j <= i / 2; ++j) {
                    if (i % j == 0) {
                        isPrime = false;
                        break;
                    }
                }
                
                if (isPrime) {
                    primes.value.push(i)
                }
            }
        }

        function calculate() {
            primes.value = [];
            printNPrimes()
        }

        return {
            primes,
            qty,
            printNPrimes,
            calculate
        }
    }
})
</script>
