<template>
    <div class="text-h6">
        Spiral
    </div>
    <p>
        Write a function named printMatrix, that takes an array  of integers 
        representing a 2d square matrix and the number of elements
        on each side as parameters. 
        This function should start at the upper left hand corner of 
        the matrix and print each element in a counterclockwise spiral.
    </p>

    <div
        class="q-py-md">
        
        <span
            class="q-pa-none q-ml-none custom-label2">
            Introduce the numbers that would conform of the matrix representing a 2D Matrix
        </span>
        <q-input
            color="purple"
            v-model="input"
            lazy-rules
            :rules="[ 
                val => val && val.length > 0 || 'This field is required.',
            ]"
            class="q-pb-sm custom-input q-mb-md"
            placeholder="[1, 2, 3], [4, 5, 6], ..." />

        <span
            class="q-pa-none q-ml-none custom-label2">
            Introduce the size of the matrix (AxA)
        </span>
        <q-input
            color="purple"
            mask="#####"
            lazy-rules
            :rules="[ 
                val => val && val.length > 0 || 'This field is required.',
            ]"
            v-model.number="size"
            placeholder="2"
            class="q-pb-sm q-mt-none custom-input" />

        <q-btn
            color="purple"
            @click="printNMatrix"
            class="full-width q-py-md q-mb-sm q-mt-lg">
            Generate matrix
        </q-btn>

        <q-card
            v-if="spiralMatrix.length > 0">
            <q-card-section
                class="q-pt-sm q-pb-none q-my-md text-subtitle1 text-purple">
                New matrix
            </q-card-section>
            <q-card-section
                class="q-pt-none q-pb-md q-my-none">
            {{ spiralMatrix }}
            </q-card-section>
        </q-card>

    </div>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { useQuasar } from 'quasar'
import _ from 'lodash'

export default defineComponent({
    name: 'Spiral',
    setup() {
        const input = ref([])
        const size = ref('')
        const $q = useQuasar()
        const error = ref([])
        const spiralMatrix = ref([])

        function printNMatrix() {
            const str = JSON.stringify(input.value);
            const splitted = str.split(',')
            const array = splitted.map( n => { return parseInt(n.replace('"', '')) })

            const matrix = _.chunk(array, size.value)


            if 
            (
               !matrix.every((r) => r.length === size.value) ||
               matrix.length !== size.value
            ) {
                error.value.push(`La matriz ingresada debe tener suficientes números como para ser de ${size.value}x${size.value}`)
            }

            if (error.value.length > 0) {
                $q.notify({
                    color: 'negative',
                    position: 'bottom',
                    message: error.value[0],
                    icon: 'report_problem',
                    timeout:3000,
                    actions: [
                    { label: 'Cerrar', color: 'white', handler: () => {} }
                    ]
                })
            } else {
                let row = 0;
                let colum = 0;
                let mRows = matrix.length;
                let mColums = matrix[0].length;
                const total = mRows * mColums;
                let counter = 0;
                let i;

                while (row < mRows && colum < mColums) {
                    if (counter === total) {
                        break;
                    }

                    for (i = row; i < mRows; ++i) {
                        spiralMatrix.value.push(matrix[i][colum])
                        counter++
                    }
                    colum++

                    if (counter === total) {
                        break;
                    }

                    for (i = colum; i < mColums; ++i)
                    {
                        spiralMatrix.value.push(matrix[mRows - 1][i]);
                        counter++;
                    }

                    mRows--;

                    if (counter === total) {
                        break;
                    }

                    if(row < mRows) {
                        for(i = mRows - 1; i >= row; --i) {
                            spiralMatrix.value.push(matrix[i][(mColums - 1)])
                            counter++
                        }
                        mColums--
                    }

                    if (counter === total) {
                        break;
                    }

                    if(colum < mColums) {
                        for(i = mColums - 1; i >= colum; --i) {
                            spiralMatrix.value.push(matrix[row][i])
                            counter++
                        }
                        row++
                    }
                }
            }
        }

        return {
            input,
            size,
            printNMatrix,
            spiralMatrix
        }
    },
})
</script>
