<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue';
import { useStore } from 'vuex';
import { api } from 'boot/axios'

export default defineComponent({
  name: 'App',
  setup() {
    const $store = useStore()
    const token = $store.state.auth.token;
    if(token) {
      api.defaults.headers.common['Authorization'] = `Bearer ${token}`
    }
  }
})
</script>