<template>
    <q-layout view="lHh lpr lFf" class="shadow-2">

        <q-header elevated>
            <q-toolbar>
                <q-btn flat round dense icon="menu" class="q-mr-sm" />
                 <q-avatar>
                    <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
                </q-avatar>

                <q-toolbar-title>Quasar Framework</q-toolbar-title>

                <q-btn 
                    flat
                    round
                    class="q-mx-sm">
                    <q-icon
                        size="2.8em"
                        name="account_circle">
                    </q-icon>
                    <q-menu
                        :offset="[100, 5]">
                        <q-list style="min-width: 100px">
                            <q-item 
                                clickable 
                                v-close-popup>
                                <q-item-section>
                                    Name: {{ getUser }}
                                </q-item-section>
                            </q-item>
                            <q-item 
                                clickable 
                                v-close-popup>
                                <q-item-section>Settings</q-item-section>
                                <q-item-section avatar>
                                    <q-icon color="primary" name="settings" />
                                </q-item-section>
                            </q-item>
                            <q-item 
                                @click="logout"
                                clickable 
                                v-close-popup>
                                <q-item-section>
                                    Logout
                                </q-item-section>
                                <q-item-section avatar>
                                    <q-icon color="primary" name="logout" />
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-menu>
                </q-btn>
            </q-toolbar>
        </q-header>

        <q-page-container>
            <router-view />
        </q-page-container>

    </q-layout>
</template>

<script>
import { defineComponent, computed } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';

export default defineComponent({
    name: 'ExercisesLayout',
    setup() {
        const $router = useRouter()
        const $store = useStore()

         const getUser = computed( () => {
            return $store.getters['auth/getUserFullname'].charAt(0).toUpperCase() + $store.getters['auth/getUserFullname'].slice(1);
        })

        async function logout() {
            $store.dispatch('auth/logout')
            .then(async res => {
                if(!$store.getters['auth/getToken']) {
                    await $router.push('/')
                }
            })
        }

        return {
            logout,
            getUser
        }
    },
})
</script>
